* {
    box-sizing: border-box;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 70px;
}

body {
    background-color: #efe7f1;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}
.form {
    padding: 30px 40px;	
}
.form-control {
    position: relative;
    margin-top:5px; /* Increase the margin-bottom for a larger gap */
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px; /* Adjust as needed */
}
.input-wrapper {
    position: relative;
}

.input-wrapper input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    padding-right: 35px; /* Make space for the icon */
    width: 100%;
    box-sizing: border-box; /* Include padding in width */
}

.input-wrapper i {
    visibility: hidden;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}



.input-wrapper.error .fa-exclamation-circle {
    visibility: visible;
    color: red;
   
}


.input-wrapper.success .fa-check-circle {
    visibility: visible;
    color: green;
}


/* Adjusting input and select elements */
input[type="number"],
input[type="text"].number,
select {
    
    width: 100%; /* Full width */
    margin-bottom: 20px; /* Increase margin-bottom for larger gap */
}
.flex {
    position: flex;
    align-items: center;
}
input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


    .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fcfaf9; /* Change the background color */
     /* Increase padding for more space */
    border: 2px solid #ccc; /* Increase border width */
    border-radius: 10px; /* Increase border radius */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Increase box shadow */
 
    justify-content: center;
    align-items: center;
    text-align: center; /* Center text inside the popup */
    width: 700px; /* Set maximum width to 80% of the viewport */
    height: 400px; /* Set maximum height to 80% of the viewport */
    overflow: auto; /* Add scrollbar if content exceeds max height */
}



.popup.show {
    display: block;
}

/* Style for the tooltip */
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 70%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

#tooltip #tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 79%;
    border-bottom-right-radius: -10px;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

#tooltip:hover #tooltiptext {
    visibility: visible;
    opacity: 1;
}
.tooltip-label {
    display: flex;
    align-items: center;
}

#tooltip {
    margin-left: 10px; /* Adjust as needed */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@keyframes zoomAnimation {
    0%, 100% { 
        transform: scale(1); /* Start and end size of the icon */
        color: #4CAF50;
    }
    50% {
        transform: scale(1.5); /* Middle size of the icon */
        color: #4CAF50;
    }
}

#popupDiv i {
    font-size: 50px; /* Initial size of the icon */
    margin-top: 35px;
    visibility: visible;
    color: #4CAF50;
     /* Initial background color */
    transition: color 0.3s ease; /* Smooth transition for background color */
    animation: zoomAnimation 2s  alternate; /* Apply animation */
}



.tooltip #question-button {
    border-radius: 50%;
    border: 1px solid #97A5CE;
    height: 20px;
    width: 20px;
}
#submitbtn{
    background-color: #92C7CF;
    margin-top: 30px;
    border-radius: 10px;
}
.header {
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 20px 40px;
}

.header h2 {
    margin: 0;
}
.inner{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.taxAmount{
    margin-bottom: -20px;
}

#inner-button {
    border-radius: 10px;
    color: white;
    border: none;
    background-color: #92C7CF;;
    width: 150px;
    height: 30px; /* Adjusted height for better usability */
    font-size: 18px; /* Adjusted font size for better readability */
    margin-top: 90px; /* Adjusted margin-top for better positioning */
}
.fa-check-double{
    background-color: #4CAF50;
}

/* SOCIAL PANEL CSS */


/* SOCIAL PANEL CSS */
.social-panel-container {
    position: fixed;
    right: 0;
    bottom: 80px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.social-panel-container.visible {
    transform: translateX(-10px);
}

.social-panel {	
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 16px 31px -17px rgba(0,31,97,0.6);
    border: 5px solid #92C7CF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Muli';
    position: relative;
    height: 169px;	
    width: 370px;
    max-width: calc(100% - 10px);
}

.social-panel button.close-btn {
    border: 0;
    color: #97A5CE;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.social-panel button.close-btn:focus {
    outline: none;
}

.social-panel p {
    background-color: #92C7CF;
    border-radius: 0 0 10px 10px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 2px 17px 6px;
    position: absolute;
    top: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
    width: 235px;
}

.social-panel p i {
    margin: 0 5px;
}

.social-panel p a {
    color: #7AA2E3;
    text-decoration: none;
}

.social-panel h4 {
    margin: 20px 0;
    color: #92C7CF;	
    font-family: 'Muli';	
    font-size: 14px;	
    line-height: 18px;
    text-transform: uppercase;
}

.social-panel ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.social-panel ul li {
    margin: 0 10px;
}

.social-panel ul li a {
    border: 1px solid #DCE1F2;
    border-radius: 50%;
    color: #7AA2E3;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    text-decoration: none;
}

.social-panel ul li a:hover {
    border-color: #FF6A00;
    box-shadow: 0 9px 12px -9px #FF6A00;
}

.floating-btn {
    border-radius: 26.5px;
    background-color: #92C7CF;
    border: 1px solid #92C7CF;
    box-shadow: 0 16px 22px -17px #03153B;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    padding: 12px 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

.floating-btn:hover {
    background-color: #efe7f1;
    border: 3px solid #92C7CF;
    color: #001F61;
}

.floating-btn:focus {
    outline: none;
}
.tooltip .tooltiptext::selection {
    color: transparent;
}
.floating-text {
    background-color: #92C7CF;
    border-radius: 10px 10px 0 0;
    color: #fff;
    font-family: 'Muli';
    padding: 7px 15px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    z-index: 998;
}

.floating-text a {
    color: #FF7500;
    text-decoration: none;
}

@media screen and (max-width: 480px) {

    .social-panel-container.visible {
        transform: translateX(0px);
    }
    
    .floating-btn {
        right: 10px;
    }
}